<%= simple_form_for @forum do |f| %>
	<% if @forum.errors.any? %>
		<h2><%= pluralize(@forum.errors.count, "error") %> prevented this forum from saving:</h2>
		<ul>
			<% @forum.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
	<%= f.label :content, "Title of the Question:" %><br>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :content, "Explaination of the Question:" %><br>
	<%= f.cktext_area :content %>
	</p>

	<p>
  		<%= f.association :tags, label: false%>
	</p>

	<%= f.submit %>

<% end %>

<script>
$(document).ready(function() {
        $("#forum_tag_ids").select2({
        	placeholder: "Select Tags",
        	maximumSelectionLength: 3,
        	tokenSeparators: [',', ' ']
        })
    });

</script>