<%= form_for @forum do |f| %>
	<% if @forum.errors.any? %>
		<h2><%= pluralize(@forum.errors.count, "error") %> prevented this forum from saving:</h2>
		<ul>
			<% @forum.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :content, "Write your article here" %><br>
	<%= f.cktext_area :content %>
	</p>

	<p>
  		<%= f.label :Tags %><br />
  		<%= f.text_field :tag_list %>
	</p>

	<%= f.submit %>

<% end %>