<%= form_tag(forums_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Forums" %>
<%= submit_tag "Search" %>
<% end %>


<p align="right"> <%= link_to "New Forum", new_forum_path %> </p>

<% @forums.each do |forum| %>
			<h3><a href="#"><%= link_to forum.title, forum %></a></h3>
			<h6>Created by <%= User.find(forum.user_id).name %></h6>
			<p class="date"><%= forum.created_at.strftime("%A, %b %d") %></p>
<% end %>

<%= will_paginate @forums %>


