<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<%= form_tag(forums_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Forums" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<p align="right"> <%= link_to "New Forum", new_forum_path %> </p>
	</div>
</div>
<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h3>Recent Forums</h3>
  	<% @forums.each do |forum| %>
			<h3><%= link_to forum.title, forum %></h3>
			<p class="date">asked <%= forum.created_at.strftime("%b %d '%y at %H:%M") %></p>
			<p><%= forum.get_upvotes.size %> upvotes</p>
      <p><%= forum.comments.count %> answers</p>
	<% end %>

	<%= will_paginate @forums %>
  </div>
  <div class="col-md-4 ">
  	<h3>Most Upvoted forums</h3>
  		<% Forum.order('cached_votes_up DESC').each do |forum|%>
  			<h4><%= link_to forum.title, forum %> <span class="badge"><%= forum.cached_votes_up%></span><h4>
  		<% end %>
  		<hr>
  	<h3>Most Popular Tags</h3>
  	<% Tag.order('name DESC').each do |tag|%>
    <% if tag.forums.count > 0 %>
  		<h4><%= link_to tag.name, tag_path(tag) %> <span class="badge"><%= tag.forums.count %></span></h4>
      <% end %>
  	<% end %>
  </div>
</div>




