<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<%= form_tag(forums_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Forums" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<p align="right"> <%= link_to "New Forum", new_forum_path %> </p>
	</div>
</div>
<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h3>Recent Forums</h3>
  	<% @forums.each do |forum| %>
			<h3><%= link_to forum.title, forum %></h3>
			<p class="date"><%= forum.created_at.strftime("%A, %b %d") %></p>
			<p><%= forum.get_upvotes.size %> upvotes</p>
	<% end %>

	<%= will_paginate @forums %>
  </div>
  <div class="col-md-4 ">
  	<h3>Most Upvoted forums</h3>
  		<% Forum.order('cached_votes_up DESC').each do |forum|%>
  			<h4><%= link_to forum.title, forum %> || <%= forum.cached_votes_up%><h4>
  		<% end %>
  		<hr>
  	<h3>Most Popular Tags</h3>
  	<% Tag.order('forums_count DESC').each do |tag|%>
  		<h4><%= link_to tag.name, tag_path(tag) %> || <%= tag.forums_count %></h4>
  	<% end %>
  </div>
</div>




