<h2 align = "center"><%= @forum.title %><br></h2>

<nav aria-label="...">
  <ul class="pager">
    <li>
    	<%if @prev_forum!=nil %>
			<%= link_to 'Previous', @prev_forum %><p>
		<% end %>
	</li>
    <li>
    	<%if @next_forum!=nil %>
			<%= link_to  'Next', @next_forum %></p><br>
		<% end %>
    </li>
  </ul>
</nav>

<p align = "center">
  Tags:
  <% @forum.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p align = "center">
<%= link_to "Edit", edit_forum_path(@forum) %>&nbsp;
<%= link_to "Delete", forum_path(@forum), method: :delete, data: { confirm: "Are you sure?" } %>&nbsp;

<%= link_to "All Forums", forums_path %>
</p>


<%= @forum.content.html_safe %><br>
