<div class="row">
<div class="col-md-2">

<nav aria-label="...">
  <ul class="pager">
    <li>
      <%if @prev_forum!=nil %>
      <%= link_to  'Previous', @prev_forum %><p>
    <% end %>
  </li>
  </ul>
  </nav>
  </div>


  <div class="col-md-8 ">

  <h2 align><%= @forum.title %></h2><hr>



<h4><br>
<%= @forum.content.html_safe %><br>
</h4>
<% @forum.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'btn btn-default btn-sm' %>
  <% end %>

<p align="right">asked <%= @forum.created_at.strftime("%b %d '%y at %H:%M") %></p>
    <p align="right"><%= image_tag(User.find(@forum.user_id).avatar, size: '50x50') %> <strong><%= User.find(@forum.user_id).name %></strong></p>

  

<p align = "center">
<%=link_to like_forum_path(@forum), method: :put, class: 'btn btn-default btn-sm' do %>
 <span class="glyphicon glyphicon-thumbs-up"></span><%=@forum.get_upvotes.size%></td>
 <% end %>
 <%=link_to dislike_forum_path(@forum), method: :put, class: 'btn btn-default btn-sm' do %>
 <span class="glyphicon glyphicon-thumbs-down"> </span><%=@forum.get_downvotes.size%></td>
 <% end %>

 <% if can? :manage, @forum %>
<%= link_to "Edit Forum", edit_forum_path(@forum), class: 'btn btn-default btn-sm' %>
<%= link_to "Delete Forum", forum_path(@forum), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default btn-sm'  %>
<% end %>

<%= link_to "All Forums", forums_path , class: 'btn btn-default btn-sm' %>
</p>

<div id="comments">
<hr>
    <h4 align="center"><%= @forum.comments.count %> Answers</h4><hr>
    <%= render @forum.comments %>

    <h4>Your Answer</h4>
    <%= render "comments/form" %>
  </div>

</div>

<div class="col-md-2">

<nav aria-label="...">
  <ul class="pager">
   <li>
      <%if @next_forum!=nil %>
      <%= link_to  'Next', @next_forum %></p><br>
    <% end %>

    </li>
  </ul>
  </nav>
  </div>
</div>
