<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>


<p align="right"> <%= link_to "New Articles", new_post_path %> </p>

<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<h6>Created by <%= User.find(post.user_id).name %></h6>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
<% end %>

<%= will_paginate @posts %>


