<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
		<%= submit_tag "Search" %>
		<% end %>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<p align="right"> <%= link_to "New Blog", new_post_path %> </p>
	</div>
</div>
<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h3>Recent Blog Posts</h3>
  	<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<p><%= post.get_upvotes.size %> upvotes</p>
	<% end %>

	<%= will_paginate @posts %>
  </div>
  <div class="col-md-4 ">
  	<h3>Most Upvoted posts</h3>
  		<% Post.order('cached_votes_up DESC').each do |post|%>
  			<h4><%= link_to post.title, post %> || <%= post.cached_votes_up%><h4>
  		<% end %>
  		<hr>
  	<h3>Most Popular Tags</h3>
  	<% Tag.order('posts_count DESC').each do |tag|%>
  		<h4><%= link_to tag.name, tag_path(tag) %> || <%= tag.posts_count %></h4>
  	<% end %>
  </div>
</div>




