<div class="row">
<div class="col-md-2">

<nav aria-label="...">
  <ul class="pager">
    <li>
      <%if @prev_post!=nil %>
      <%= link_to  'Previous', @prev_post %><p>
    <% end %>
  </li>
  </ul>
  </nav>
  </div>


  <div class="col-md-8 ">

  <h2 align = "center"><%= @post.title %></h2>

<h5 align = "center">
  Posted by <strong><%= User.find(@post.user_id).name %></strong><br><br>
  Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'btn btn-default btn-sm' %>
  <% end %>
</h5>

<h4><br>
<%= @post.content.html_safe %><br>
</h4>
<br> <br>
<p align = "center">
<%=link_to like_post_path(@post), method: :put, class: 'btn btn-default btn-sm' do %>
 <span class="glyphicon glyphicon-chevron-up"></span>
 like <%=@post.get_upvotes.size%></td>
 <% end %>
<%= link_to "Edit Article", edit_post_path(@post), class: 'btn btn-default btn-sm' %>
<%= link_to "Delete Article", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default btn-sm'  %>

<%= link_to "All Articles", posts_path , class: 'btn btn-default btn-sm' %>
</p>
<br><hr><br>
<%= render 'disqus' %>

</div>

<div class="col-md-2">

<nav aria-label="...">
  <ul class="pager">
   <li>
      <%if @next_post!=nil %>
      <%= link_to  'Next', @next_post %></p><br>
    <% end %>

    </li>
  </ul>
  </nav>
  </div>
</div>
