<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav navbar-nav">
  <% if current_user %>
  <li><%= link_to 'Log Out', '/logout' %></li>
  
  <% else %>
  <li><%= link_to 'FB', '/auth/facebook' %></li>
  
  <% end %>
</ul>
    <%= yield %>
  </body>
</html>
